// bower:scss
// endbower

body {
  background: salmon;
}

.container {
  margin: 0 auto;
  width: 85%;
  background: white;
  background: url("/images/data_vegetables_pattern.png");
  height: 100%;
}

marquee {
  font-size: 80px;
  text-shadow: #660066 7px 1px 1px;
}
