// bower:scss
// endbower

body {
  background: salmon;
}

body.dieing {
  background: orange;
}

body.datazone {
  background: url("/images/bricks.png");
  p {
    color: white;
    font-size: 80px;
  text-shadow: #000 7px 1px 1px;
  }
}

body.memories-of-onsen {
  background: #46ea7e;
  .container {
    background: none;
    margin: 0 auto;
    width: 50%;
    height: 100%;
  }
}

.container {
  margin: 0 auto;
  width: 85%;
  background: white;
  background: url("/images/data_vegetables_pattern.png");
  height: 100%;
}

marquee {
  font-size: 80px;
  text-shadow: #660066 7px 1px 1px;
}

.thepitch {
  font-size: 40px;
  color: yellow;
  text-shadow: #000 5px 5px 5px;
}

.buy-wrapper {
  padding: 20px;
  width: 100%;
  background: salmon;
}
