// bower:scss
// endbower

body {
  background: salmon;
}

.container {
  margin: 0 auto;
  width: 85%;
  background: white;
  background: url("/images/data_vegetables_pattern.png");
  height: 100%;
}
